<div class="row">
  <div class="col-2">
    1 of 2
  </div>
  <div class="col-8">
    <app-avatar position="Nord" #Nord></app-avatar>
  </div>
  <div class="col-2">
    2 of 2
  </div>
</div>
<div class="row">
  <div class="col-2">
    <app-avatar position="Ouest" #Ouest></app-avatar>
  </div>
  <div class="col-8">
  </div>
  <div class="col-2">
    <app-avatar position="Est" #Est></app-avatar>
  </div>
</div>
<div class="row">
  <div class="col-2">
    1 of 2
  </div>
  <div class="col-8">
    <app-avatar position="Sud" #sud></app-avatar>
  </div>
  <div class="col-2">
  </div>
</div>